.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 700px;
    }

    button {
        cursor: pointer;
        border-width: 2px;
        width: 250px;
        border-radius: 20px;
        height: 40px;
        font-size: 18px;
        font-weight: 100;
        background-color: white;
    }
}