.background {
    background: white;
    background-size: cover;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: block;
}

.body {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    align-items: center;

    .data {
        width: 1000px;
        height: 500px;
        border-radius: 50px;
        display: flex;
        justify-content: center;


    }
}